:root {

    --Pastel-Pink-Light: #FFCAD4;
    --Alabaster-Grey-Light: #D8E2DC;
    --Almond-Silk-Light: #FCDBCE;
    --Pale-Sky-Light: #D4E5F7;
    --Light-Apricot-Light: #FBE5B7;
    --main-border-radius: 0.32rem;
}



/* --- Main Lists Creator Component - START --- */

.add-list-row {
    padding: 2rem;
    justify-content: space-between;
    /* background-color: #7e5a9b; */


    .select-editDelete-icons-container {
        padding: 0 0.48rem;
        /* background-color: red; */

        SVG {
            width: 1.5rem;
            margin: 0 0.2rem;
        }

        @media (min-width: 767px) {

            SVG {
                width: 2.5rem;
            }

        }
    }
}

@media (min-width: 767px) {

    .add-list-row {
        padding: 2rem 5rem;
        justify-content: space-between;


    }

}

.add-list-button-container {
    width: fit-content;
    justify-content: flex-start;
    gap: 0.48rem;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 0.48rem;

    SVG {
        width: 1.5rem;
    }

    @media (min-width: 767px) {

        SVG {
            width: 2.5rem;
        }

    }
}

.add-list-button-container:hover {
    border-bottom: 2px solid #7e5a9b;
}

.list-categories-container {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

/* --- Main Lists Creator Component - END --- */


/* --- List Category Component - START --- */
.listCategory-main-container {
    width: 20rem;
    align-items: flex-start;
    gap: 0.2rem;

    .listCategory-container {
        width: 100%;
        flex-direction: column;
        border-radius: var(--main-border-radius);

        /* background-color: #821cd6; */
        .category-header {
            width: 100%;
            padding: 0.32rem 1.20rem;
            justify-content: space-between;

            .PlusIcon {

                SVG {

                    width: 1.7rem;
                }
            }


        }

        .tasks-container {
            width: 97%;
            min-height: 4rem;
            padding: 0.24rem 0.48rem 0.72rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.48rem;
        }
    }

    .list-background-1 {
        background-color: rgb(from var(--Pastel-Pink-Light) r g b / 0.5);
    }

    .list-background-2 {
        background-color: rgb(from var(--Alabaster-Grey-Light) r g b / 0.5);
    }

    .list-background-3 {
        background-color: rgb(from var(--Almond-Silk-Light) r g b / 0.5);
    }

    .list-background-4 {
        background-color: rgb(from var(--Pale-Sky-Light) r g b / 0.5);
    }

    .list-background-5 {
        background-color: rgb(from var(--Light-Apricot-Light) r g b / 0.5);
    }


    .list-checkbox-container,
    .list-order-bars-container {
        height: 2.5rem;
    }

    .list-checkbox-container {
        margin-left: 0.2rem;
    }

    @media (min-width: 767px) {
        .list-checkbox-container {
            margin-left: 0.48rem;
        }

    }

    .list-checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media (min-width: 767px) {

        .list-checkbox {
            width: 2rem;
            height: 2rem;
        }
    }


    .list-edit-mode-hide {
        display: none;
    }

    SVG {
        width: 1.8rem;
    }

    @media (min-width: 767px) {


        SVG {
            width: 2.4rem;
        }
    }

}

/* --- List Category Component - END --- */


/* --- Task Component - START --- */


.task {

    justify-content: space-between;
    font-size: 1.5rem;
    background-color: var(--Powder-Petal-Light);
    border-radius: var(--main-border-radius);

    .task-content {
        padding: 0.48rem 0;
        flex-grow: 1;
        justify-content: flex-start;
        gap: 0.48rem;

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .checkbox-container {
            width: 2rem;
            height: 2rem;
            cursor: pointer;

            SVG {

                width: 1.5rem;
            }

            .checked-badge-icon {
                color: gray;

            }

        }

        input[type=text] {
            width: 90%;
            font-size: 1rem;
            border: none;
            /* background-color: red; */

        }

        input[type=text]:focus {
            border: none;
            outline: none;
        }

        @media (min-width: 767px) {
            input[type=text] {
                font-size: 1.5rem;

            }

        }

        .completed {
            color: gray;
            text-decoration: line-through;
        }
    }

    @media (min-width: 767px) {
        .taskContent {
            padding: 1rem 0;
        }

    }

    .delete-task-button {
        width: 1.5rem;
        cursor: pointer;

    }

    @media (min-width: 767px) {
        .delete-task-button {
            width: 2rem;
        }

    }

}

.task-background-1 {
    background-color: var(--Pastel-Pink-Light);
}

.task-background-2 {
    background-color: var(--Alabaster-Grey-Light);
}

.task-background-3 {
    background-color: var(--Almond-Silk-Light);
}

.task-background-4 {
    background-color: var(--Pale-Sky-Light);
}

.task-background-5 {
    background-color: var(--Light-Apricot-Light);
}

/* --- Task Component - END --- */

/* --- Deletion Task Dialog Box Component - START */

.deletion-dialog-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #32323232;

    .content-container {

        max-width: 85vw;
        padding: 1rem 2rem;
        flex-direction: column;
        gap: 2rem;
        border-radius: 0.25rem;
        background-color: beige;

        .deletion-msg {
            font-size: 1rem;
        }

        @media (min-width: 767px) {
            .deletion-msg {
                font-size: 1.5rem;
            }
        }

        .buttons-container {
            width: 100%;
            justify-content: flex-end;
            gap: 0.48rem;

            .confirm-button,
            .cancel-button {

                padding: 0.25rem 1rem;
                font-size: 1rem;
                border-radius: 0.25rem;
                border: none;
                color: #821cd6;
                cursor: pointer;
            }

            @media (min-width: 767px) {

                .confirm-button,
                .cancel-button {
                    font-size: 1.5rem;
                }
            }

            .confirm-button {
                background-color: #e4b7e51a;
            }

        }
    }

}


.showDeletionDialog {
    display: flex;
}

.hideDeletionDialog {
    display: none;
}

/* --- Deletion Task Dialog Box Component - END */