/* --- Main Lists Creator Component - START --- */

.add-list-row {
    padding: 2rem;
}

.add-list-button-container {
    width: fit-content;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 0.5rem;

    SVG {
        width: 1.5rem;
    }

    @media (min-width: 767px) {

        SVG {
            width: 2.5rem;
        }

    }
}

.add-list-button-container:hover {
    border-bottom: 2px solid #7e5a9b;
}

.list-categories-container {
    flex-direction: column;
    gap: 4rem;
}

/* --- Main Lists Creator Component - END --- */


/* --- List Category Component - START --- */
.listCategory-main-container {
    width: 100vw;

    .listCategory-container {
        width: 85%;
        flex-direction: column;

        .category-header {
            width: 100%;
            padding: 0.2rem 1rem;
            justify-content: space-between;
            border-radius: 0.4rem;
            background-color: #e4b7e5;

            SVG {
                width: 2rem;
            }
        }

        .todos-container {
            width: 97%;
            padding: 0.2rem 1rem;
        }


    }


}

/* --- List Category Component - END --- */


/* --- ToDo Component - START --- */


.todo {

    justify-content: space-between;
    border-bottom: 1px solid #e4b7e5;
    font-size: 1.5rem;

    .task-content {
        padding: 0.5rem 0;
        flex-grow: 1;
        justify-content: flex-start;
        gap: 0.5rem;

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .checkbox-container {
            cursor: pointer;

            SVG {

                width: 1.5rem !important;
            }

            .checked-badge-icon {
                color: gray;

            }

        }

        input[type=text] {
            width: 90%;
            font-size: 1rem;
            border: none;
            /* background-color: red; */

        }

        input[type=text]:focus {
            border: none;
            outline: none;
        }

        @media (min-width: 767px) {
            input[type=text] {
                font-size: 1.5rem;

            }

        }

        .completed {
            color: gray;
            text-decoration: line-through;
        }
    }

    @media (min-width: 767px) {
        .taskContent {
            padding: 1rem 0;
        }

    }

    .delete-task-button {
        width: 1.5rem;

    }

    @media (min-width: 767px) {
        .delete-task-button {
            width: 2rem;
        }

    }
}

/* --- ToDo Component - END --- */

/* --- DeletionDialogBox - START */

.deletion-dialog-box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #32323232;

    .content-container {

        max-width: 85vw;
        padding: 1rem 2rem;
        flex-direction: column;
        gap: 2rem;
        border-radius: 0.25rem;
        background-color: beige;

        .buttons-container {
            width: 100%;
            justify-content: flex-end;
            gap: 0.5rem;

            .confirm-button,
            .cancel-button {

                padding: 0.25rem 1rem;
                font-size: 1rem;
                border-radius: 0.25rem;
                border: none;
                color: #821cd6;
                cursor: pointer;
            }

            @media (min-width: 767px) {

                .confirm-button,
                .cancel-button {
                    font-size: 1.5rem;
                }
            }

            .confirm-button {
                background-color: #e4b7e51a;
            }

        }
    }

}

/* --- DeletionDialogBox - END */